body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

#history-display {
    text-align: right;
    padding: 0 5px;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed;
    padding: 25px;
    border: 1px solid #333;
    overflow: hidden;
    width: 100%;
    max-width: 320px; /* Telefonlarda ekranı aşmaması üçün */
    box-sizing: border-box;
}

#display{
    width: 100%;
    padding: 70px;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #333;
    background-color: white;
    box-sizing: border-box;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    padding: 20px;
}

button{
   height: 60px;
    background-color: white;
    border: 1px solid #333;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    background-color: #ddd;
}